<main>
    <section>
        <div class="hometabs">
            <a class="hometab" href="/shop">Vendor</a>
            <a class="hometab" href="/items">Personal Storage</a>
            <a class="hometab" href="/info">Information</a>
        </div>
    </section>
</main>